html{
  
}


#root{
  width:100%;
  height:100%;
  display:flex;
}
 

.App{
  flex:1;
  display:flex;
  flex-direction:column;

}


.dark-mode{
background-color:#000;
-webkit-text-fill-color:azure;
color:azure;
}


.light-mode{
	background-color:#fff;
-webkit-text-fill-color:#000;
color:#000;
}